


@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .disTitle{
        font-size: 30px !important;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {    
     .disTitle{
    font-size: 25px !important;
}}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
    .disTitle{
        font-size: 22px !important;
    }
}